
# Project structure
build*/
bin
lib
doc
*~

# git backups
*.orig

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Qt cache
CMakeLists.txt.user
CMakeLists.txt.user.*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# KDE temp files
*.kate-swp
.kdev_include_paths
.kdev4
*.kdev4


# Multimedia files 
# to avoid overloading if needed use --force
*.mov
*.avi
*.jpg
*.bmp
*.mpeg
*.png
*.bag
